<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Emoji Generator</h1>
</nav>
<section class="content">
  <header>
      <h1>CGAN</h1>
  </header>
  <form method="post">
    <label for="caption">Input a Caption to generate an Emoji</label>
    <input name="caption" id="caption">
    <input type="submit" name="cgan_gen" value="Generate Emoji">
  </form>
  {% if cgan_image %}
    <h3>Generated Emoji</h3>
    <img src="{{ url_for('static', filename=cgan_image)}}">
  {% endif %}

  <header>
      <h1>Non conditional GANs</h1>
  </header>
  <form method="post">
    <input type="submit" name="non_conditional_gen" value="Generate Emojis">
  </form>
  {% if dcgan_image %}
    <h3>Generated Emoji</h3>
    <h4>DC-GAN</h4>
    <img src="{{ url_for('static', filename=dcgan_image)}}">
    <h4>PCA-GAN</h4>
    <img src="{{ url_for('static', filename=dcgan_image)}}">
    <h4>Segment-GAN</h4>
    <img src="{{ url_for('static', filename=dcgan_image)}}">
  {% endif %}
</section>
